*{
    font-family: sans-serif;
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 20px;
}
.logo img{
    height: 50px;
}

.page-tittle {
    font-size: 28px;
    padding: 0;
    color: #0b5d57;
}

#cont {
    padding-left: 0;
    color: #0b5d57;
    font-size: 14px;
}
#upper{
    height: 100px;
    width:auto;
    background-color: #0b5d57;
    text-align: center;
    h2{
        margin-right: 25px;
        margin-top: 0px;
        padding-top:35px;
        color: rgb(255, 255, 255);
    }

}
#logo{
    background-image: url('images/pexels-fotios-photos-811587.jpg');
    width: 100%;
    height: 50%;
    background-size: cover;
    
    
}
#story{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: gray;
}
.story{
    font-size: medium;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.values-section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 10%;
    border-bottom: 80px solid #0b5d57;
}

.values-logo img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.values-content {
    width: 100%;
    max-width: 600px;
}

#content {
    padding-left: 0;
}

.para {
    padding-left: 20px;
}

.heading{
    color: #0b5d57;
}
@media (max-width: 768px) {

    .header {
        flex-direction: column;
        text-align: center;
    }

    .page-tittle {
        font-size: 22px;
    }

    #cont {
        font-size: 13px;
    }

    #logo {
        height: 220px;
    }

    .values-section {
        flex-direction: column;
        padding: 30px 20px;
        text-align: center;
    }

    .values-logo img {
        max-width: 250px;
    }

    .para {
        padding-left: 0;
    }
}
