*{
    font-family: sans-serif;
}
.header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
}
.logo img{
    height: 50px;
}
.page-tittle{
    font-size: 32px;
    font-weight: 600;
    padding: 0px 35%;
    padding-right: 10px;
    color: #0b5d57;
}
#cont{
    padding-left: 30%;
    color: #0b5d57;
}

#upper{
    height: 100px;
    width:auto;
    background-color: #0b5d57;
    text-align: center;
    h2{
        margin-right: 25px;
        margin-top: 0px;
        padding-top:35px;
        color: rgb(255, 255, 255);
    }

}
#logo{
    background-image: url(pexels-fotios-photos-811587.jpg);
    width: 100%;
    height: 50%;
    background-size: cover;
    
    
}
#story{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: gray;
}
.story{
    font-size: medium;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.values-section{
    display: flex;
    gap: 40px;
    border-bottom: #0b5d57 80px solid;
    height: 80%;
    
}
.values-logo img{
    padding-bottom: 200px;
    width: 500px;
    height: auto;
}
.values-content{
    padding-bottom: 300px;
    max-width: 500px;
}
.values-content {
    width: 100%;
}
#content{
    padding-left: 30px;
    width: 100%;
   
}
.para{
    padding-left: 40px;
}
.heading{
    color: #0b5d57;
}
@media (max-width: 768px) {

    .header {
        flex-direction: column;
        text-align: center;
    }

    .page-tittle {
        font-size: 24px;
    }

    #cont {
        font-size: 14px;
    }

    #logo {
        height: 200px;
    }

    .values-section {
        flex-direction: column;
        padding: 20px;
    }

    .values-content,
    .values-logo img {
        max-width: 100%;
    }

    #content,
    .para {
        padding-left: 0;
    }
}